<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DynaSER Client</title>
    <script src="bridge.js"></script>
    <base href="<%= url %>">
</head>
<body>
    <div id="dynaser-app"></div>
</body>
</html>